 <div class="wrapper">
                   <div class="row">
                       <h1>Digicel{{service}}</h1>
                   </div>
                   <div class="row">
                    <form novalidate>
                     <div class="medium-4 columns medium-centered">
                         <div class="medium-12 columns">
                             <input type="tel" ng-model="user.number" placeholder="876 843 2230" class="text-center radius">
                         </div>
                         <div class="medium-12 columns">
                             <input type="password" ng-model="user.password" placeholder="password" class="text-center radius">
                         </div>
                         <div class="medium-12 columns">
                            
                             <button type="submit" class="button secondary large radius" ng-click="submit(user)">login</button>
                         </div>
                        <p ><a href="" class="info">New Customer?</a>&nbsp;<a href="#" class="info">Forget Password?</a></p>
                        
                     </div>
                     </form>
                   </div>
                </div>